@page "/sign-out/{**Slug}"
@model authica.Pages.Auth.SignOutModel
@{
    Layout = "_Layout";
    ViewBag.Title = $"Signed out - {authica.C.Configuration.Current.Issuer}";
}

<div class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="card m-1">
        <div class="card-body text-center">
            <h2>@Model.T.Title</h2>
            <a href="/sign-in" class="card-link">@Model.T.SignInAgain</a>
        </div>
    </div>
</div>