@using Auth
@inherits LayoutComponentBase
@implements IDisposable

@inject NavigationManager Nav
@inject CurrentSession Session

<NavMenu />

<main class="container-xxl">
    @Body
</main>

<ToastContainer />

@code {
    string? sessionId;
    protected override void OnInitialized()
    {
        Nav.LocationChanged += OnLocationChanged;
        sessionId = Session.GetClaimValue(Claims.SessionId);
    }
    void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        if (!InMemoryTicketStore.SessionActive(sessionId))
            Nav.NavigateTo(C.Routes.SignIn);
    }
    public void Dispose()
    {
        if (Nav != null)
            Nav.LocationChanged -= OnLocationChanged;
    }
}