<div class="toast-container position-fixed bottom-0 start-0 p-3" style="z-index: 11">
    @foreach (var toast in ToastList.OrderBy(x => x.TimeStamp))
    {
        <Toast @key=toast.Id Settings=toast OnClose=RemoveToast />
    }
</div>